<div id="<%= dom_id like_recensione %>">
  <p>
    <strong>Recensione:</strong>
    <%= like_recensione.recensione_id %>
  </p>

  <p>
    <strong>Utente:</strong>
    <%= like_recensione.utente_id %>
  </p>

</div>
