<h1>Editing like recensione</h1>

<%= render "form", like_recensione: @like_recensione %>

<br>

<div>
  <%= link_to "Show this like recensione", @like_recensione %> |
  <%= link_to "Back to like recensiones", like_recensiones_path %>
</div>
