<div id="<%= dom_id recensione %>">
  <p>
    <strong>Titolo:</strong>
    <%= recensione.titolo %>
  </p>

  <p>
    <strong>Ristorante:</strong>
    <%= @ristorante.where(id: recensione.ristorante_id).first.nome %>
  </p>

</div>
