<h1>Editing recensione</h1>

<%= render "form", recensione: @recensione %>

<br>

<div>
  <%= link_to "Show this recensione", @recensione %> |
  <%= link_to "Back to recensiones", recensiones_path %>
</div>
