<p style="color: green"><%= notice %></p>

<h1>Recensiones</h1>

<div id="recensiones">
  <% @recensiones.each do |recensione| %>
    <%= render recensione %>
  <% end %>

  <%= paginate @recensiones%>
</div>

