<p style="color: green"><%= notice %></p>

<h1>Recensiones</h1>

<div id="recensiones">
  <% @recensiones.each do |recensione| %>
    <%= render recensione %>
    <p>
      <%= link_to "Show this recensione", ristorante_recensione_path(params[:ristorante_id], recensione) %>
    </p>
  <% end %>

  <%= paginate @recensiones%>
</div>

