
<div class="carousel-container">
  <div class="inner-carousel">
    <div class="track">
    <% @ristorantes.where("").each do |ristorante| %>
    <%= link_to ristorante do%>
      <div class="card-container">
        <div class="card" id="cards">

        <img src="<%= ristorante.foto_ristorantes.first.url %>" alt="..." width="100%" height="100%" class="imagini">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <h5 class="card-title"><%= ristorante.nome.titleize %></h5>
        </div>
        
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
    <div class="navigation">
      <button class="prev"><i class="fas fa-arrow-left fa-2x"></i></button>
      <button class="next"><i class="fas fa-arrow-right fa-2x"></i></button>
    </div>
  </div>
</div>