<div class="my-slider">

    <% @ristorantes.where("").each do |ristorante| %>
    <%= link_to ristorante do%>
      <div class="card-container">
        <div class="overlay"><%= ristorante.nome %> </div>
        <img src="<%= ristorante.foto_ristorantes.first.url %>" alt="..." width="100%" height="100%" class="immagini">

      </div>
      <% end %>
    <% end %>
</div>

<div class="carouselBtns">
  <button class="previous"><i class="fa-solid fa-arrow-left"></i></button>
  <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
</div>