
<div class="layout">

<h1 class='header_h1'>Alla ricerca di un ristorante?</h1>


    <div class="filtri">
        <button class="filtri-btn">Pesce</button>
        <button class="filtri-btn">Pizza</button>
        <button class="filtri-btn">Carne</button>
        <button class="filtri-btn">Vegano</button>
        <button class="filtri-btn">Italiana</button>
    </div>

    <div class="search-form">
        <%= render partial: "search/form", locals: {results: []}%>
    </div>
    

        <div class="map-description">
            <p>
            Oppure puoi scegliere un ristorante sulla mappa qui sotto
            </p>
        </div>
        
    <div id="map"></div>


    <div class="carousel-description">
        <div class="carousel-bg"></div>
        <div class="carousel-text">
            <p>
                Esplora i migliori ristoranti
            </p>
        </div>
        <%= render "carousel"%>
    </div>
</div>


