

    <div class="container" id="newrist">
      <h1>Inserisci i dati del tuo Ristorante</h1>

      <%= render "form",  ristorante: @ristorante%>
      
      <div id="div-back">
        <%= link_to "Back to home", home_index_path %>
      </div>
    </div>

