<h1>Editing prenotazione</h1>

<%= render "form", prenotazione: @prenotazione %>

<br>

<div>
  <%= link_to "Show this prenotazione", @prenotazione %> |
  <%= link_to "Back to prenotaziones", prenotaziones_path %>
</div>
