<p style="color: green"><%= notice %></p>

<div class="header-prenotazioni">
<h1>Prenotazioni</h1>
</div>
<div id="prenotaziones">
  <% @prenotaziones.each do |prenotazione| %>
    <%= render prenotazione %>
    <p>
    </p>
  <% end %>
</div>
