<div id="<%= dom_id foto_ristorante %>">
  <p>
    <strong>Url:</strong>
    <%= foto_ristorante.url %>
  </p>

  <p>
    <strong>Ristorante:</strong>
    <%= foto_ristorante.ristorante_id %>
  </p>

</div>
