<h1>Editing foto ristorante</h1>

<%= render "form", foto_ristorante: @foto_ristorante %>

<br>

<div>
  <%= link_to "Show this foto ristorante", @foto_ristorante %> |
  <%= link_to "Back to foto ristorantes", foto_ristorantes_path %>
</div>
