<h1>Editing tipo cucina</h1>

<%= render "form", tipo_cucina: @tipo_cucina %>

<br>

<div>
  <%= link_to "Show this tipo cucina", @tipo_cucina %> |
  <%= link_to "Back to tipo cucinas", tipo_cucinas_path %>
</div>
