<div id="<%= dom_id foto_recensione %>">
  <p>
    <strong>Url:</strong>
    <%= foto_recensione.url %>
  </p>

  <p>
    <strong>Recensione:</strong>
    <%= foto_recensione.recensione_id %>
  </p>

</div>
