<h1>Editing foto recensione</h1>

<%= render "form", foto_recensione: @foto_recensione %>

<br>

<div>
  <%= link_to "Show this foto recensione", @foto_recensione %> |
  <%= link_to "Back to foto recensiones", foto_recensiones_path %>
</div>
