.main-body{
    margin-top: 10em;
}

.sidepanel{
    border-radius: 1.5rem;
    padding: 1em;
    float: left;
    border:1px solid black;
    width: 20%;
}

.filter_results{
    margin-left: 4%;
    float: left;
    width: 76%;
}

.result_box{
    display: flex;
    margin-bottom: 1.5rem;
    background-color: antiquewhite;
    border-radius: 5px;
}

.result_info{
    padding-left: 1rem;
    padding-top: 1rem;
}

.pagination{
    display: flex;
    justify-content: center;
    .page-link{
        color:black;
    }
    .page-item.active .page-link{
        background-color: orange;
        border-color: orange;
    }

    .page-link:hover{
        color:orange;
    }
}

.categoria{
    display: flex;
    flex-direction: column;
}

.filter-label{
    font-weight: 500;
    letter-spacing: 1px;
}

