
#map {
    margin-bottom: 20px;
    height: 400px;
    width: 80%;
    border-radius: 10px;
    margin-inline: 10%;
    position: relative;
    z-index: 0;
}


.layout {
    margin:0 auto;
    width: 70%;
    height: 100%;
}

.search-div {
    margin-top: 70px;
}


.map-description {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 500;
}
